body {
  font-family: Bahnschrift, "DIN Alternate", "Franklin Gothic Medium",
    "Nimbus Sans Narrow", sans-serif-condensed, sans-serif;
  font-weight: normal;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1,
.card input {
  margin-block: 1rem;
}

.card p {
  font-size: 2rem;
  text-transform: capitalize;
}

.card p.error {
  color: firebrick;
}

.card img {
  display: block;
  width: 50%;
  margin-inline: auto;
}

input {
  padding: 0.5rem;
  font-size: 1.25rem;
  border-radius: 6px;
}
